# ----
# Site

title: Our Family Recipe Book
url: "https://hsteinshiromoto.github.io/recipes"
baseurl: "https://hsteinshiromoto.github.io/recipes"
google_analytics_key:
newsletter_action:
disqus_shortname:

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: images/logo.svg
description: Food blog template for Jekyll.
author:
  name:
  email:
  twitter: # twitter username without the @ symbol
social:
  name: Our Family Recipe Book
  links:
    - https://github.com/CloudCannon/treat-jekyll-template

# -----
# Build

timezone: Australia/Sydney # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones

paginate: 10
paginate_path: "/:num/"
permalink: pretty

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      push_sidebar_down: true
      print_stylesheet: true
      comments: true
      _options:
        content:
          width: 1560
          height: 2000
        featured_image:
          width: 1560
          height: 2000
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: "index.html"
    values:
      layout: "default"
      push_sidebar_down: true

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

# -----------
# CloudCannon

social_icons:
  # - Facebook
  - Instagram
  - LinkedIn
  - Pinterest
  - Twitter
  - RSS

_options:
  author_image:
    width: 400
    height: 400